<div class="tables-holder">
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 col-xl-6">
        <div class="table">
          <div class="table-head">
            <h4>Carcass Evaluation</h4>
          </div>
          <div class="table-body">
            <div class="tr d-flex">
              <div class="td">General state</div>
              <div class="td d-flex justify-content-center">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox"
                         name="state"
                         [(ngModel)]="apiService.generalInfo.generalState"
                         class="custom-control-input"
                         id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">OK</label>
                </div>
              </div>
            </div>
            <div class="tr d-flex">
              <div class="td">Inflammatory lesion</div>
              <div class="td text-center">
                <input type="radio"
                       (click)="apiService.generalInfo.inflammatoryLesion = false; $event.stopPropagation();"
                       name="test"
                       value="sad"
                       class="sad"
                       [checked]="!apiService.generalInfo.inflammatoryLesion">
                <input type="radio"
                       name="test"
                       (click)="apiService.generalInfo.inflammatoryLesion = true; $event.stopPropagation(); "
                       value="happy"
                       class="happy"
                       [checked]="apiService.generalInfo.inflammatoryLesion">
              </div>
            </div>
            <div class="tr d-flex">
              <div class="td">Necrosis</div>
              <div class="td text-center">
                <input type="radio"
                       (click)="apiService.generalInfo.necrosis = false; $event.stopPropagation();"
                       name="necrosis"
                       value="sad"
                       class="sad"
                       [checked]="!apiService.generalInfo.necrosis">
                <input type="radio"
                       (click)="apiService.generalInfo.necrosis = true; $event.stopPropagation();"
                       name="necrosis"
                       value="happy"
                       class="happy"
                       checked="checked"
                       [checked]="apiService.generalInfo.necrosis">
              </div>
            </div>
            <div class="tr d-flex">
              <div class="td ">Sample collection</div>
              <div class="td d-flex justify-content-center">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox"
                         [(ngModel)]="apiService.generalInfo.sampleCollection"
                         name="sampleCollection"
                         class="custom-control-input"
                         id="customCheck2">
                  <label class="custom-control-label" for="customCheck2">Yes</label>
                </div>
              </div>
            </div>
            <div class="tr">
              <div class="td">Remarks</div>
              <textarea class="form-control"
                        [(ngModel)]="apiService.generalInfo.remarks"
                        (keyup)="test()"
                        name="remarks"
                        id="exampleFormControlTextarea1"
                        rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="table">
          <div class="table-head">
            <h4>Offal Evaluation</h4>
          </div>
          <div class="table-body">
            <div class="tr d-flex">
              <div class="td">General state</div>
              <div class="td text-center">
                <input type="radio"
                       (click)="apiService.generalInfo.offalState = false; $event.stopPropagation()"
                       name="state"
                       value="sad"
                       class="sad"
                       [checked]="!apiService.generalInfo.offalState" >
                <input type="radio"
                       name="state"
                       (click)="apiService.generalInfo.offalState = true; $event.stopPropagation()"
                       value="happy"
                       class="happy"
                       [checked]="apiService.generalInfo.offalState">
              </div>
            </div>
            <div class="tr d-flex">
              <div class="td">General state after incision</div>
              <div class="td text-center">
                <input type="radio"
                       (click)="apiService.generalInfo.offalStateAfterIncision = false; $event.stopPropagation()"
                       name="stateafte"
                       value="sad"
                       class="sad"
                       [checked]="!apiService.generalInfo.offalStateAfterIncision">
                <input type="radio"
                       name="stateafte"
                       (click)="apiService.generalInfo.offalStateAfterIncision = true; $event.stopPropagation()"
                       value="happy"
                       class="happy"
                       [checked]="apiService.generalInfo.offalStateAfterIncision">
              </div>
            </div>
          </div>
        </div>
        <div class="table">
          <div class="table-head">
            <h4>Flesh</h4>
          </div>
          <div class="table-body text-center">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     [checked]="apiService.generalInfo.flesh === 'C'"
                     (click)="apiService.generalInfo.flesh = 'C'; $event.stopPropagation()"
                     id="customRadioInline11"
                     name="customRadioInline6"
                     class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline11">C</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     [checked]="apiService.generalInfo.flesh === 'H'"
                     (click)="apiService.generalInfo.flesh = 'H'; $event.stopPropagation()"
                     id="customRadioInline7"
                     name="customRadioInline6"
                     class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline7">H</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     [checked]="apiService.generalInfo.flesh === 'T'"
                     (click)="apiService.generalInfo.flesh = 'T'; $event.stopPropagation()"
                     id="customRadioInline8"
                     name="customRadioInline6"
                     class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline8">T</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     id="customRadioInline9"
                     [checked]="apiService.generalInfo.flesh === 'A'"
                     (click)="apiService.generalInfo.flesh = 'A'; $event.stopPropagation()"
                     name="customRadioInline6"
                     class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline9">A</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     [checked]="apiService.generalInfo.flesh === 'X'"
                     (click)="apiService.generalInfo.flesh = 'X'; $event.stopPropagation()"
                     id="customRadioInline10"
                     name="customRadioInline6"
                     class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline10">X</label>
            </div>
          </div>
        </div>
        <div class="table">
          <div class="table-head">
            <h4>Fatty Tissue</h4>
          </div>
          <div class="table-body text-center custom">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     [checked]="apiService.generalInfo.fattyTissue === '1'"
                     (click)="apiService.generalInfo.fattyTissue = '1'; $event.stopPropagation()"
                     id="fatty1"
                     name="fatty"
                     class="custom-control-input">
              <label class="custom-control-label" for="fatty1"> <span>1</span></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     [checked]="apiService.generalInfo.fattyTissue === '2'"
                     (click)="apiService.generalInfo.fattyTissue = '2'; $event.stopPropagation()"
                     id="fatty2"
                     name="fatty"
                     class="custom-control-input">
              <label class="custom-control-label" for="fatty2">2</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     [checked]="apiService.generalInfo.fattyTissue === '3'"
                     (click)="apiService.generalInfo.fattyTissue = '3'; $event.stopPropagation()"
                     id="fatty3"
                     name="fatty"
                     class="custom-control-input">
              <label class="custom-control-label" for="fatty3">3</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     [checked]="apiService.generalInfo.fattyTissue === '4'"
                     (click)="apiService.generalInfo.fattyTissue = '4'; $event.stopPropagation()"
                     id="fatty4"
                     name="fatty"
                     class="custom-control-input">
              <label class="custom-control-label" for="fatty4">4</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     [checked]="apiService.generalInfo.fattyTissue === '5'"
                     (click)="apiService.generalInfo.fattyTissue = '5'; $event.stopPropagation()"
                     id="fatty5"
                     name="fatty"
                     class="custom-control-input">
              <label class="custom-control-label" for="fatty5">5</label>
            </div>
          </div>
        </div>
        <button
            (click)="router.navigate(['summary'])"
            class="btn btn-primary btn-lg toLeftButton">Next page
        </button>
      </div>
    </div>
  </div>
</div>

