<div class="tables-holder">
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 col-xl-6">
        <div class="table">
          <div class="table-head d-flex justify-content-between align-items-center">
            <h4>Summary</h4>
            <img src="images/edit.svg" alt="">
          </div>
          <div class="table-body summary">
            <div class="table-section">
              <h6>Carcass evaluation</h6>
              <div class="tr d-flex">
                <div class="td">Infammatory lesion</div>
                <div class="td">{{apiService.generalInfo.inflammatoryLesion ? 'OK' : 'NO'}}</div>
              </div>
              <div class="tr d-flex">
                <div class="td">Necrosis</div>
                <div class="td">{{apiService.generalInfo.inflammatoryLesion ? 'Good' : 'Bad'}}</div>
              </div>
              <!--<div class="tr d-flex">-->
                <!--<div class="td">Ph</div>-->
                <!--<div class="td">6.1</div>-->
              <!--</div>-->
              <!--<div class="tr d-flex">-->
                <!--<div class="td">Colour</div>-->
                <!--<div class="td">Blue-green avarage  </div>-->
              <!--</div>-->
              <!--<div class="tr d-flex">-->
                <!--<div class="td">Sample collection</div>-->
                <!--<div class="td">Blue-green avarage  </div>-->
              <!--</div>-->
              <div class="tr d-flex">
                <div class="td">Remarks</div>
                <div class="td">{{apiService.generalInfo.remarks}}</div>
              </div>
            </div>
            <div class="table-section">
              <h6>Offal evaluation</h6>
              <div class="tr d-flex">
                <div class="td">General state</div>
                <div class="td">{{apiService.generalInfo.offalState ? 'OK' : 'NO'}}</div>
              </div>
              <div class="tr d-flex">
                <div class="td">General state after incision</div>
                <div class="td">{{apiService.generalInfo.offalStateAfterIncision ? 'OK' : 'NO'}}</div>
              </div>
            </div>
            <div class="table-section">
              <div class="tr d-flex">
                <div class="td">Flesh</div>
                <div class="td">{{apiService.generalInfo.flesh}}</div>
              </div>
            </div>
            <div class="table-section">
              <div class="tr d-flex">
                <div class="td">Fatty tissue</div>
                <div class="td">{{apiService.generalInfo.fattyTissue}}</div>
              </div>
            </div>
          </div>
        </div>
        <button type="button"
                (click)="router.navigate(['huegin'])"
                class="btn btn-secondary btn-lg">Back</button>
        <button type="button"
                (click)="sendData()"
                class="btn btn-primary btn-lg"
                data-toggle="modal"
                data-target="#exampleModalCenter">Send health certificate</button>
      </div>
    </div>
  </div>
</div>
<div class="modal"
     *ngIf="showModal"
     id="exampleModalCenter"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                (click)="showModal = !showModal"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center" >
        <img src="../../assets/images/checkmark-flat.png" alt="">
        <h3>Your Health Certificate has been sent</h3>
        <button type="button"
                (click)="showModal = !showModal"
                class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">OK</button>
      </div>
    </div>
  </div>
</div>