<div class="tables-holder">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="table">
          <div class="table-head">
            <h3>Carcass</h3>
          </div>
          <div class="table-body">
            <div class="tr d-flex">
              <div class="td">ID</div>
              <div class="td">{{carcassData['ID asset']}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Category</div>
              <div class="td">{{carcassData['Category']}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Certification</div>
              <div class="td">{{carcassData['Certification']}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Creation</div>
              <div class="td">{{carcassDataBirthDate}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Weigth</div>
              <div class="td">{{carcassDataWeight}}</div>
            </div>
          </div>
        </div>
        <div class="table">
          <div class="table-head">
            <h3>Farm</h3>
          </div>
          <div class="table-body">
            <div class="tr d-flex">
              <div class="td">ID</div>
              <div class="td">{{farmData['ID asset']}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Name</div>
              <div class="td">{{farmData['Name']}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Address</div>
              <div class="td">{{farmAddress}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Husbandry</div>
              <div class="td">{{farmData['Husbandry']}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Sanity check</div>
              <div class="td">{{farmVetCheck ? 'Yes' : 'No'}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="table">
          <div class="table-head">
            <h3>Cow</h3>
          </div>
          <div class="table-body">
            <div class="tr d-flex">
              <div class="td">ID</div>
              <div class="td">{{cowData['ID asset']}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Birth</div>
              <div class="td">{{cowBirthDate}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Location of birth</div>
              <div class="td">{{cowAddress}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Death</div>
              <div class="td">{{cowDeath}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Sex</div>
              <div class="td">{{cowData['Sex']}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Breed</div>
              <div class="td">{{cowData['Breed']}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Sanitary check</div>
              <div class="td">{{cowLastVetCheck}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Last weight</div>
              <div class="td">{{cowLastWeight}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Taxation</div>
              <div class="td">{{cowFlesh + cowFattyTissue}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Category</div>
              <div class="td">{{cowData['Category']}}</div>
            </div>
          </div>
        </div>
        <div class="table">
          <div class="table-head">
            <h3>Transport</h3>
          </div>
          <div class="table-body">
            <div class="tr d-flex">
              <div class="td">Departure</div>
              <div class="td">{{transportDeparture}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Origin</div>
              <div class="td">{{transportOrigin['Name']}}</div>
            </div>
            <div class="tr d-flex">
              <div class="td">Transporter</div>
              <div class="td">{{transportData['Name']}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-right">
  <button
      (click)="router.navigate(['huegin'])"
      class="btn btn-primary btn-lg">Evaluate
  </button>
</div>