.btn.dropdown-toggle {
  background-color: transparent;
}

.tables-holder {
  margin-top: 40px;
  margin-bottom: 40px;
}

.table {
  .table-body {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    .tr {
      border-bottom: 1px solid #d0d0d0;
      .td {
        width: 50%;
        padding: 7px 10px;
        &:first-child {
          color: #6b6565;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
    &.summary {
      padding: 0;
      .table-section {
        padding: 15px;
        border-bottom: 1px solid #d0d0d0;
        .tr {
          border-bottom: none;
        }
      }
    }
  }
}

.dropdown-menu {
  min-width: 8rem;
}

textarea {
  width: 100%;
}

.table-head {
  img {
    width: 20px;
    height: 20px;
  }
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  transition: border .2s ease;
  filter: grayscale(100%);
  margin: 0 5px;
  transition: all .2s ease;

  &:hover, &:checked {
    filter: grayscale(0);
  }

  &:focus {
    outline: 0;
  }

  &.happy {
    background: url('/../assets/images/happy.svg') center;
    background-size: cover;
  }

  &.sad {
    background: url('/../assets/images/sad.svg') center;
    background-size: cover;
  }
}

.mtt {
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: #999;
  text-decoration: none;

  span {
    color: #e74c3c;
  }

  &:hover {
    color: #666;

    span {
      color: #c0392b;
    }
  }
}

.modal-body {
  padding: 20px 40px;
  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  img {
    width: 70px;
    display: block;
    margin: auto;
  }
}

.modal {
  display: block;
}

.toLeftButton {
  right: 0;
  position: absolute;
}